@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");

//FONTS
$mainFontFamily: "Assistant", sans-serif;

//COLORS
$darkGreen: #466f13;
$lightGreen: #76b729;
